<div id="main-container">
    <div class="ui raised very padded text container segment"  >

      <h1 class="ui header">
        Discover Licensing Agreements
        <div class="sub header">
          Searches your Rails app for installed gems for version information and licenses.
        </div>
      </h1>

        <%= form_tag dependencies_path, method: 'get' do %>
          <div class="ui labeled fluid action input">
            <div class="ui label">
              Repo URL
            </div>
            <%= text_field_tag :repo_url %>
            <div class="ui button" name="submit-form">Submit</div>
          </div>
        <% end %>
    </div>

    <div class="ui grid">
      <div class="four wide column">
        <div id="sha-list"></div>
      </div>
      <div class="twelve wide column">
        <div class="ui segments" id="dep-list"></div>
      </div>
    </div>

</div>